/////////////// LAYOUT \\\\\\\\\\\\\\\
body{
    background: $bright-gray;
    color: $dark-gray;
    position: relative;
    font-family: 'Signika';
}
#menu{
    max-width: 2160px;
    margin: 0 auto;
    background: $bright-gray;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    .login{
        text-align:right;
    }
    .items{
        .item{
            margin: 0 30px;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            .link{
                text-transform: uppercase;
                border-bottom: solid 1px transparent;
                padding: 2px 0;
                &:hover{
                    border-color: $dark-gray;
                }
            }
        }
    }
    .right{
        align-items: center;
    }
    .switch{
        display: none;
        height: 20px;
        margin-left: 50px;
        padding: 0 0px;
        cursor: pointer;
        border: solid 1.5px transparent;
        &.open{
            border-color: $dark-gray;
        }
    }
}

.home{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    max-width: 600px;
    line-height: 25px;
}

#content{
    margin-top: 100px;
    padding: 30px 100px;
    max-width: 2160px;
    margin: 0 auto;
    min-height: calc(100vh - 128px);
    .heading{
        width: 100%;
        text-align: center;
        font-size: 35px;
        margin-bottom: 35px;
    }
    .upload{
        position: absolute;
        margin-top: 15px;
    }
    .images{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        position: relative;
        .image-block{
            position: relative;
            height: 300px;
            color: $bright-gray;
            .info{
                position: absolute;
                padding: 20px;
                height: 100%;
                width: 100%;
                opacity: 0;
                background: rgba(0,0,0,0.7);
                justify-content: flex-end; 
                &:hover{
                    opacity: 1;
                }
            }
            .delete{
                position: absolute;
                padding: 5px 10px;
                right: 0;
                background: $dark-gray;
                z-index: 1;
            }
            .image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .create-form{
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        .image{
            width: 100%;
            height: 250px;
            border: solid 2px $gray;
            position: relative;
            background: url('/resources/images/static/upload.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            &:hover{
                border: solid 5px $dark-gray;
            }
            .file{
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
        .result{
            width: 100%;
            margin-top: 20px;
            justify-content: space-between;
            .preview{
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
    }
    .posts{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 15px;
        .post{
            position: relative;
            border: solid 1px $gray;
            word-break: break-all;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0 7px 10px -10px $dark-gray;
            }
            .link{
                padding: 20px 10px;
                width: 100%;
                .head{
                    justify-content: space-between;
                    align-items: center;
                }
                .date{
                    margin: 5px 0;
                }
                .content{
                    max-height: 60px;
                    overflow-y: hidden;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100px;
                        height: 18px;
                        bottom: 0;
                        right: 0;
                        background: linear-gradient(90deg, transparent 0% , $bright-gray 80%);
                    }
                }
            }
            .delete{
                position: absolute;
                right: 0;
                top: 0;
                padding: 5px 10px;
            } 
        }
    }
    .show{
        max-width: 1000px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        .header{
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            flex-wrap: wrap;
            .title{
                font-size: 30px;
                font-weight: 600;
                word-break:break-all;
                line-height: 25px;
            }
            .date{
                font-weight: 100;
                color: $dark-gray;
                font-size: 20px;
                text-align: right;
                margin: 5px 0;
            }
        }
        .content{
            word-break: break-all;
            margin-top: 15px;
            text-align: justify;
        }
        .image{
            width: 100%;
            margin: 0 auto;
        }
        .responds{
            border-top: solid 1px $gray;
            margin-top: 50px;
        }
    }
    .show.post-page{
        max-width: 700px;
    }
}
#footer{
    bottom: 0;  
    height: 50px;
    width: 100%;
    background: $dark-gray;
    color: $light-gray;
    margin-top: 50px;
    text-align: center;
}

#fallback{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: $bright-gray;
    z-index: 100;
    .back{
        &:hover{
            text-decoration: underline;
        }
    }
}


///////////////  RESPONSIVE STUFF  \\\\\\\\\\\\\\\

@media only screen and(max-width: 2160px){
    #menu, #content{
        padding: 30px 50px;
    }
    #content{
        .images{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
@media only screen and(max-width: 1530px){
    #content{
        .images{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media only screen and(max-width: 1120px){
    #menu, #content{
        padding: 30px 30px;
    }
    #content{
        .images{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media only screen and(max-width: 800px){
    #menu{
        .switch{
            display: block;
        }
        .items{
            position: fixed;
            width: 0;
            right: 0;
            top: 80px;
            height: calc(100% - 80px);
            flex-flow: column;
            align-items: center;
            justify-content: center;
            background: $bright-gray;
            overflow: hidden;
            z-index: 10;
            padding-bottom: 150px;
            opacity: 0;
            .item{
                margin: 20px 0;
                font-size: 20px;
            }
            &.active{
                opacity: 1;
                width: 100%;
            }
        }
    }
    
    #menu, #content{
        padding: 30px 20px;
    }
    #content{
        .images{
            grid-template-columns: 1fr 1fr;
            .image-block{
                height: 200px;
            }
        }
        .posts{
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and(max-width: 500px){
    #content{
        .head{
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .heading{
            width: auto;
            text-align: left;
            margin-bottom: 10px;
        }
        .upload{
            position: initial;
        }
        .images{
            grid-template-columns: 1fr;
        }
    }
}