/////////////// LAYOUT \\\\\\\\\\\\\\\
body{
    background: $bright-gray;
    color: $dark-gray;
    position: relative;
    font-family: 'Signika';
}
#menu{
    width: 100%;
    max-width: 2160px;
    margin: 0 auto;
    background: $bright-gray;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    .login{
        text-align:right;
        width: 50px;
    }
    .items{
        .item{
            margin: 0 30px;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            .link{
                text-transform: uppercase;

                border-bottom: solid 1px transparent;
                padding: 2px 0;
                transition: border-color .1s;
                &:hover{
                    border-color: $dark-gray;
                }
            }
        }
    }
    .switch{
        display: none;
    }
}

#content{
    margin-top: 100px;
    padding: 30px 100px;
    max-width: 2160px;
    margin: 0 auto;
    min-height: calc(100vh - 128px);
    .heading{
        text-align: center;
        font-size: 35px;
        margin-bottom: 35px;
    }
    .upload{
        position: absolute;
        margin-top: 15px;
    }
    .images{
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        .image-block{
            position: relative;
            height: 300px;
            color: $bright-gray;
            .info{
                position: absolute;
                padding: 20px;
                height: 100%;
                width: 100%;
                opacity: 0;
                background: rgba(0,0,0,0.7);
                transition: opacity 0.1s;
                justify-content: flex-end; 
                &:hover{
                    opacity: 1;
                }
            }
            .delete{
                position: absolute;
                padding: 5px 10px;
                right: 0;
                background: $dark-gray;
                z-index: 1;
            }
            .image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .image-form{
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        .image{
            width: 100%;
            height: 250px;
            border: solid 2px $gray;
            position: relative;
            background: url('/resources/images/static/add.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.15s;
            &:hover{
                border: solid 5px $dark-gray;
            }
            .file{
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
        .result{
            width: 100%;
            margin-top: 20px;
            justify-content: space-between;
            .preview{
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
    }

    .posts{
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        .post{
            border: solid 1px $gray;
            padding: 10px;
            word-break: break-all;
        }
    }
    .post-form{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .image-page{
        max-width: 1000px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        .header{
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            flex-wrap: wrap;
            .title{
                font-size: 30px;
                font-weight: 600;
                word-break:break-all;
                line-height: 25px;
            }
            .date{
                font-weight: 100;
                color: $dark-gray;
                font-size: 20px;
                text-align: right;
                margin: 5px 0;
            }
        }
        .image{
            width: 100%;
            margin: 0 auto;
        }
    }
}
#footer{
    bottom: 0;  
    height: 50px;
    width: 100%;
    background: $dark-gray;
    color: $light-gray;
    margin-top: 50px;
    text-align: center;
}

///////////////  RESPONSIVE STUFF  \\\\\\\\\\\\\\\

@media only screen and(max-width: 2160px){
    #menu, #content{
        padding: 30px 50px;
    }
    #content{
        .images{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
@media only screen and(max-width: 1530px){
    #content{
        .images{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media only screen and(max-width: 1120px){
    #menu, #content{
        padding: 30px 30px;
    }
    #content{
        .images{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media only screen and(max-width: 800px){
    #menu{
        .switch{
            display: block;
            margin-left: 25px;
            padding-left: 25px;
        }
        .items{
            position: fixed;
            width: 0;
            right: 0;
            top: 78px;
            height: calc(100% - 78px);
            flex-flow: column;
            align-items: center;
            justify-content: center;
            background: $bright-gray;
            transition: .5s;
            overflow: hidden;
            z-index: 10;
            padding-bottom: 150px;
            opacity: 0;
            .item{
                margin: 20px 0;
                font-size: 20px;
            }
            &.active{
                opacity: 1;
                width: 100%;
            }
        }
    }
    
    #menu, #content{
        padding: 30px 20px;
    }
    #content{
        .images{
            grid-template-columns: 1fr 1fr;
            .image-block{
                height: 200px;
            }
        }
        .posts{
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and(max-width: 500px){
    #content{
        .images{
            grid-template-columns: 1fr;
        }
    }
}