@font-face {
  font-family: 'Signika';
  src: url('/resources/fonts/Signika/Signika-Light.ttf') format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika';
  src: url('/resources/fonts/Signika/Signika-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Signika';
  src: url('/resources/fonts/Signika/Signika-SemiBold.ttf') format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Signika';
  src: url('/resources/fonts/Signika/Signika-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

button, textarea, input, select, a {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

img {
  display: none; }

img[src] {
  display: block; }

input, textarea {
  border-radius: 0;
  outline: none;
  border: none;
  font-family: 'Signika'; }

textarea {
  font-weight: 100;
  max-width: 600px; }

input.button {
  padding: 12px 50px;
  height: 100%;
  border: solid 2px #CCCCCC;
  background: none;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px; }
  input.button:hover {
    background: #333333;
    color: #EEEEEE;
    border-color: transparent; }

.input-text {
  padding: 10px;
  max-width: 600px;
  width: 100%;
  font-size: 20px;
  background: #eee;
  border-left: solid 0px #333333;
  transition: border 0.15s;
  margin-bottom: 20px; }
  .input-text:focus {
    border-left-width: 5px; }

.flex {
  display: flex; }

.row {
  flex-flow: row; }

.column {
  flex-flow: column; }
body {
  background: #FEFEFE;
  color: #333333;
  position: relative;
  font-family: 'Signika'; }

#menu {
  width: 100%;
  max-width: 2160px;
  margin: 0 auto;
  background: #FEFEFE;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center; }
  #menu .login {
    text-align: right;
    width: 50px; }
    #menu .items .item {
      margin: 0 30px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px; }
      #menu .items .item .link {
        text-transform: uppercase;
        border-bottom: solid 1px transparent;
        padding: 2px 0;
        transition: border-color 0.15s; }
        #menu .items .item .link:hover {
          border-color: #333333; }
  #menu .switch {
    display: none; }

#content {
  margin-top: 100px;
  padding: 30px 100px;
  max-width: 2160px;
  margin: 0 auto;
  min-height: calc(100vh - 128px); }
  #content .heading {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px; }
  #content .upload {
    position: absolute;
    margin-top: 15px; }
  #content .images {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px; }
    #content .images .image-block {
      position: relative;
      height: 300px;
      color: #FEFEFE; }
      #content .images .image-block .info {
        position: absolute;
        padding: 20px;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 0.15s;
        justify-content: flex-end; }
        #content .images .image-block .info:hover {
          opacity: 1; }
      #content .images .image-block .delete {
        position: absolute;
        padding: 5px 10px;
        right: 0;
        background: #333333;
        z-index: 1; }
      #content .images .image-block .image {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  #content .image-form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px; }
    #content .image-form .image {
      width: 100%;
      height: 250px;
      border: solid 2px #CCCCCC;
      position: relative;
      background: url('/resources/images/static/add.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.15s; }
      #content .image-form .image:hover {
        border: solid 5px #333333; }
      #content .image-form .image .file {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer; }
    #content .image-form .result {
      width: 100%;
      margin-top: 20px;
      justify-content: space-between; }
      #content .image-form .result .preview {
        width: 150px;
        height: 150px;
        object-fit: cover; }
  #content .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px; }
    #content .posts .post {
      position: relative;
      border: solid 3px #CCCCCC;
      padding: 20px 10px;
      word-break: break-all;
      overflow: hidden; }
      #content .posts .post .link {
        width: 100%; }
      #content .posts .post .head {
        justify-content: space-between;
        align-items: center; }
      #content .posts .post .delete {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px; }
      #content .posts .post .content {
        max-height: 60px;
        overflow-y: hidden;
        position: relative; }
        #content .posts .post .content:after {
          content: '';
          display: block;
          position: absolute;
          width: 100px;
          height: 18px;
          bottom: 0;
          right: 0;
          background-image: linear-gradient(90deg, transparent 0%, #FEFEFE 80%); }
  #content .post-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
  #content .image-page {
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    margin: 0 auto; }
    #content .image-page .header {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      flex-wrap: wrap; }
      #content .image-page .header .title {
        font-size: 30px;
        font-weight: 600;
        word-break: break-all;
        line-height: 25px; }
      #content .image-page .header .date {
        font-weight: 100;
        color: #333333;
        font-size: 20px;
        text-align: right;
        margin: 5px 0; }
    #content .image-page .image {
      width: 100%;
      margin: 0 auto; }

#footer {
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #333333;
  color: #EEEEEE;
  margin-top: 50px;
  text-align: center; }

#fallback {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #FEFEFE;
  z-index: 100; }
  #fallback .back:hover {
    text-decoration: underline; }

@media only screen and (max-width: 2160px) {
  #menu, #content {
    padding: 30px 50px; }
    #content .images {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media only screen and (max-width: 1530px) {
  #content .images {
    grid-template-columns: 1fr 1fr 1fr; } }

@media only screen and (max-width: 1120px) {
  #menu, #content {
    padding: 30px 30px; }
    #content .images {
      grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 800px) {
  #menu .switch {
    display: block;
    margin-left: 25px;
    padding-left: 25px; }
  #menu .items {
    position: fixed;
    width: 0;
    right: 0;
    top: 78px;
    height: calc(100% - 78px);
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #FEFEFE;
    transition: 0.5s;
    overflow: hidden;
    z-index: 10;
    padding-bottom: 150px;
    opacity: 0; }
    #menu .items .item {
      margin: 20px 0;
      font-size: 20px; }
    #menu .items.active {
      opacity: 1;
      width: 100%; }
  #menu, #content {
    padding: 30px 20px; }
    #content .images {
      grid-template-columns: 1fr 1fr; }
      #content .images .image-block {
        height: 200px; }
    #content .posts {
      grid-template-columns: 1fr; } }

@media only screen and (max-width: 500px) {
  #content .head {
    justify-content: space-between;
    margin-bottom: 10px; }
  #content .heading {
    width: auto;
    text-align: left;
    margin-bottom: 10px; }
  #content .upload {
    position: initial; }
  #content .images {
    grid-template-columns: 1fr; } }
